@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 52, 66, 86;
  --color-secondary: 214, 219, 220;
  --color-accent: 255, 255, 255;
  --color-alpha: 203, 213, 225;
  --color-foreground: 31, 31, 31;
  --color-tertiary: 241 245 249;
  --color-gradient-primary: 26, 26, 26;
  --color-gradient-secondary: 58, 59, 60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 255, 255, 255;
    --color-secondary: 0, 0, 0;
    --color-accent: 0, 0, 0;
    --color-tertiary: 37, 37, 37;
    --color-foreground: 241, 241, 241;
    --color-gradient-primary: 24, 34, 55;
    --color-gradient-secondary: 37, 51, 82;
    --color-alpha: 64, 64, 64;
    --background-gradient: linear-gradient(
      to top,
      rgb(24, 34, 55),
      rgb(37, 51, 82)
    );
  }
}

@layer base {
  body {
    @apply text-primary bg-gradient-secondary;
  }
}

@layer components {
  .rating {
    @apply w-fit;
  }

  .rating svg {
    @apply stroke-slate-500;
  }

  .stock[data-in-stock="false"] {
    @apply text-red-500;
  }

  .stock[data-in-stock="true"] {
    @apply text-green-500;
  }

  .cta[data-small="true"] {
    @apply text-sm font-light py-1 px-2 border-[1px];
  }

  .cta[data-with-outline="true"] {
    @apply bg-transparent text-primary border-primary;
  }
}

@layer utilities {
  .separator::after {
    content: "";
    @apply w-[30%] my-2 border-foreground border-[1.5px];
  }
}
