@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 52, 66, 86;
  --color-secondary: 214, 219, 220;
  --color-accent: 255, 255, 255;
  --color-tertiary: 241 245 249;
  --background-gradient: linear-gradient(to top, #1A1A1A, #3A3B3C);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 255, 255, 255;
    --color-secondary: 0, 0, 0;
    --color-accent: 0, 0, 0;
    --color-tertiary: 37, 37, 37;
    --background-gradient: linear-gradient(to top, #182237, #253352);
  }
}

body {
  color: rgb(var(--color-primary));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-accent))
    )
    rgb(var(--color-secondary));
}
