@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 52, 66, 86;
  --color-secondary: 214, 219, 220;
  --color-accent: 255, 255, 255;
  --color-tertiary: 241 245 249;
  --color-gradient-primary: 26, 26, 26;
  --color-gradient-secondary: 58, 59, 60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 255, 255, 255;
    --color-secondary: 0, 0, 0;
    --color-accent: 0, 0, 0;
    --color-tertiary: 37, 37, 37;
    --color-gradient-primary: 24, 34, 55;
    --color-gradient-secondary: 37, 51, 82;
    --background-gradient: linear-gradient(to top, rgb(24, 34, 55), rgb(37, 51, 82));
  }
}

body {
  color: rgb(var(--color-primary));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-accent))
    )
    rgb(var(--color-secondary));
}
